{% extends 'admin/base_site.html' %}
{% block title %} Private Chat {% endblock %}

{% block content %}
{% csrf_token %}
<div>
    <h1> receiver: {{ receiver.username }}</h1>
</div>


<style>
    .outer-padding {
    padding: 20px; /* Outer padding */
    }

    .container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Make the container full height of the viewport */
    }

    .inner-padding {
        padding: 20px; /* Inner padding */
    }

    .input-wrapper {
        left: 50%;
        transform: translate(-50%, 0px);
        display: flex;
        position: fixed;
        bottom: 0;
        width: 60%;
        background-color: #fff; /* Optional: Set background color */
        padding: 10px; /* Optional: Add padding for better appearance */
        box-shadow: 0 -2px 4px rgba(37, 34, 34, 0.1);
        border-radius: 5px;
        justify-content: center;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    #chat-message-input {
        width: 80%;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    #chat-message-submit {
        padding: 10px;
        border: none;
        background-color: #5681af; /* Example background color */
        color: rgb(33, 31, 31);
        border-radius: 5px;
        font-size: 16px;
    }

    #chat-messages {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: safe;
        margin: auto;
        align-items:end;
        padding: 21px;
    }
    #inner-chat-messages{
        width: 50%; 
        background-color: rgb(28, 28, 28); 
        border-radius: 16px; 
        padding: 3px 13px;
    }
    #font-semibold{
        color: #417690
    }

    #other-inner-chat-messages{
        width: 50%; 
        background-color: rgb(28, 28, 28); 
        border-radius: 16px; 
        padding: 3px 13px;
    }

    #other-chat-messages {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: safe;
        margin: auto;
        align-items:start;
        padding: 21px;
    }

</style>



<div align="right">
    welcome, <strong>{{request.user.username}}</strong>
</div>

<div align="right">
    <a href="{% url 'logout' %}">LOGOUT</a>
</div>

<div class="chat-messages" id="chat-messages">
</div>

<div>
    <form method="get" action="." class="flex">
        <div class="outer-padding">
            <div class="container">
                <div class="inner-padding">
                    <div class="input-wrapper">
                        <input type="text" name="content" placeholder="Your message..." id="chat-message-input">
                        <button id="chat-message-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>

    {{ request.user.id|json_script:"json-current-user_id" }}
    {{ request.user.username|json_script:"json-current-username" }}
    {{ receiver.id|json_script:"json-receiver_id" }}

    <script>
        
        const username=JSON.parse(document.getElementById('json-current-username').textContent)
        const sender=JSON.parse(document.getElementById('json-current-user_id').textContent)
        const receiver=JSON.parse(document.getElementById('json-receiver_id').textContent)

        const chatSocket=new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + sender
            +'/'
            + receiver
            + '/'
        );
        chatSocket.onmessage = function(e){
            console.log('onmesage')
            const data = JSON.parse(e.data);
            
            if (data.username == username){
                if (data.message){
                    let html = '<div id="chat-messages">'
                        html+= '<div id="inner-chat-messages">'
                        html+= '<p id="font-semibold"><b>' + data.username + '</b></p>'
                        html+= '<p>' + data.message + '</p>'
                        html+='</div>'
                        html+= '</div>';

                    document.querySelector('#chat-messages').innerHTML += html
                } else{
                alert("message is empty!")
                }
            }
            else{
                if (data.message){
                    let html = '<div id="other-chat-messages">'
                        html+= '<div id="other-inner-chat-messages">'
                        html+= '<p id="font-semibold"><b>' + data.username + '</b></p>'
                        html+= '<p>' + data.message + '</p>'
                        html+='</div>'
                        html+= '</div>';
                    document.querySelector('#chat-messages').innerHTML += html
                } else{
                alert("message is empty!")
                }
            }
        }
        
        chatSocket.onclose = function(e){
            console.log('onclose')
        }

        document.querySelector("#chat-message-submit").onclick = function(e){
            e.preventDefault();
            const messageInputDOM = document.querySelector("#chat-message-input");
            const message = messageInputDOM.value;
            chatSocket.send(
                JSON.stringify({
                    "username":username,
                    "message":message,
                })
            );

            messageInputDOM.value = ''
        }
    </script>

{% endblock %}